# missao

Matematica Ii - 3º Ano C Noite - Médio
JOSE GOMES DO AMARAL, C E PROF-EFM
Próximas atividades
Nenhuma atividade para a próxima semana!

Escreva um aviso para sua turma

Aviso: "Aula 6 Técnicas computacionais:…"
ROBERTO BATISTA CONRADO
Criado em: 19:5419:54
Aula 6 
Técnicas computacionais: refletindo sobre Inteligência Artificial na escola.

Login | Alura - Cursos online de tecnologia
https://cursos.alura.com.br/course/tecnicas-computacionais-IA-na-escola/task/148630?authuser=0

Adicionar comentário para a turma...

Atividade: "Aula assíncrona 21/10/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 21/10/2024.
Criado em: OntemOntem
Atividade: "Aula assíncrona 15/10/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 15/10/2024.
Criado em: 15 de out.15 de out.
Atividade: "Aula assíncrona 07/10/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 07/10/2024.
Criado em: 7 de out.7 de out.

Aviso: "Aula assíncrona 30/09/2024. -Criando um…"
ROBERTO BATISTA CONRADO
Criado em: 30 de set.30 de set. (editado: 2 de out.)
Aula assíncrona 30/09/2024.
-Criando um repositório do GitHub.
-Criando arquivos no GitHub.
-Como Abrir seu repositório no VScode online.
-Como usar o Vercel no seu repositório do GitHub.

Como criar um repositório no Github?
Vídeo do YouTube • ‪5 minutos‬

Abrindo o repositorio direto no VScode online.pdf
PDF

Criando arquivos no GitHub.pdf
PDF

Como Hospedar Seu Projeto Online: Tutorial Completo com Vercel e GitHub
Vídeo do YouTube • ‪7 minutos‬

Adicionar comentário para a turma...


Aviso: "24/09/2024. Projeto "Técnicas…"
ROBERTO BATISTA CONRADO
Criado em: 23 de set.23 de set.
24/09/2024.
Projeto  "Técnicas computacionais: refletindo sobre Inteligência Artificial na escola".
Aula 05. Corrigindo problemas.

Login | Alura - Cursos online de tecnologia
https://cursos.alura.com.br/course/tecnicas-computacionais-IA-na-escola/task/148629

Adicionar comentário para a turma...

Atividade: "Aula assíncrona 23/09/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 23/09/2024.
Criado em: 23 de set.23 de set.

Aviso: "17/09/2024. Projeto "Técnicas…"
ROBERTO BATISTA CONRADO
Criado em: 17 de set.17 de set.
17/09/2024.
Projeto  "Técnicas computacionais: refletindo sobre Inteligência Artificial na escola".
Aula 04. Botão de jogar novamente.

Login | Alura - Cursos online de tecnologia
https://cursos.alura.com.br/course/tecnicas-computacionais-IA-na-escola/task/148628

Adicionar comentário para a turma...

Atividade: "Aula assíncrona 16/09/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 16/09/2024.
Criado em: 16 de set.16 de set.

Aviso: "10/09/2024. Projeto "Técnicas…"
ROBERTO BATISTA CONRADO
Criado em: 10 de set.10 de set. (editado: 10 de set.)
10/09/2024.
Projeto  "Técnicas computacionais: refletindo sobre Inteligência Artificial na escola".
Aula 03. Divisão eficiente de códigos.

Login | Alura - Cursos online de tecnologia
https://cursos.alura.com.br/course/tecnicas-computacionais-IA-na-escola/task/148627

Adicionar comentário para a turma...

Atividade: "Aula assíncrona 09/09/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 09/09/2024.
Criado em: 9 de set.9 de set.

Aviso: "Projeto MISSAO."
ROBERTO BATISTA CONRADO
Criado em: 3 de set.3 de set.
Projeto MISSAO.

style.css
Folha de estilo

script.js
JavaScript

index.html
HTML

Adicionar comentário para a turma...

Atividade: "Aula assíncrona 02/09/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 02/09/2024.
Criado em: 2 de set.2 de set.
Atividade: "Aula assíncrona 19/08/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 19/08/2024.
Criado em: 19 de ago.19 de ago.
Atividade: "Aula assíncrona 12/08/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 12/08/2024.
Criado em: 12 de ago.12 de ago.
Atividade: "Aula assíncrona 05/08/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 05/08/2024.
Criado em: 5 de ago.5 de ago.
Atividade: "Aula assíncrona 01/07/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 01/07/2024.
Criado em: 4 de jul.4 de jul. (editado: 6 de ago.)
Atividade: "Aula assíncrona 24/06/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 24/06/2024.
Criado em: 26 de jun.26 de jun. (editado: 6 de ago.)

Aviso: "link"
ROBERTO BATISTA CONRADO
Criado em: 25 de jun.25 de jun.
link

TOFAS Programming
https://pt.programming-testing.com/player/auth/login

Adicionar comentário para a turma...

Atividade: "Aula assíncrona 17/06/2024."
ROBERTO BATISTA CONRADO postou uma nova atividade: Aula assíncrona 17/06/2024.
Criado em: 18 de jun.18 de jun.
:root{
    --cor-fundo: #01080E ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
